/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

:root {
	--accent-color: #08aeea;
}

body {
	font-family: "Mulli", sans-serif;
	font-weight: 300;
}

.nav-bar.sticky {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
}

.first-section {
	height: 100vh;
	width: 100vw;
	background-image: linear-gradient(
			90deg,
			rgba(0, 0, 0, 0.8),
			rgba(0, 0, 0, 0.8)
		),
		url(https://images.pexels.com/photos/331684/pexels-photo-331684.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.nav-bar {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 1fr;
}

.hamburger-icon {
	padding-right: 10px;
	color: #fff;
	grid-column-start: 12;
	grid-column-end: 12;
	font-size: 2.5rem;
}

.hamburger-icon i {
	cursor: pointer;
}

nav.nav-links {
	grid-column-start: 11;
	grid-column-end: 12;
}

ul.links {
	display: flex;
	gap: 1.4rem;
	list-style: none;
}

.links a {
	font-size: 1.7rem;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

.links a:hover {
	border-bottom: 2px solid white;
}

.initial-greeting {
	height: 92vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.accent-color {
	color: var(--accent-color);
}

.initial-greeting h1,
.initial-greeting p {
	color: #fff;
}

.initial-greeting h1 {
	font-size: 46px;
	font-weight: 360;
	margin-bottom: 10px;
}

.initial-greeting p {
	font-size: 30px;
	font-weight: 300;
}

.headshot {
	height: auto;
}
.headshot img {
	width: 50%;
	max-width: 100%;
	padding-top: 40px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 80px;
	/* border-radius: 12px; */
}

.my-profile h3 {
	text-align: center;
	padding: 100px 0px;
	font-weight: 500;
	font-size: 2rem;
}

.my-profile p {
	padding: 0 30px;
	font-size: 1.2rem;
}

.third-section {
	background-color: rgba(250, 250, 250, 0.7);
	padding-bottom: 80px;
}

.third-section h3 {
	text-align: center;
	padding: 100px 0px 80px 0px;
	font-weight: 500;
	font-size: 2rem;
}

.tech-stack {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 80px;
}

.tech-stack p {
	margin-bottom: -70px;
	font-weight: 500;
	font-size: 1.3rem;
}

.tech-stack i {
	font-size: 7rem;
	color: black;
}

.fourth-section {
	padding: 20px;
}

.card {
	text-align: center;
	padding: 50px 0;
}

.fourth-section h3 {
	text-align: center;
	padding: 100px 0px 80px 0px;
	font-weight: 500;
	font-size: 2rem;
}

.card h5 {
	padding: 0px 100px;
}

.card i {
	font-size: 1.5rem;
	padding: 20px;
	color: black;
}

.fifth-section {
	background-color: rgba(250, 250, 250, 0.7);
	padding-bottom: 70px;
	text-align: center;
}

.fifth-section h3 {
	text-align: center;
	padding: 100px 0px 10px 0px;
	font-weight: 500;
	font-size: 2rem;
}

.fifth-section p {
	padding: 10px;
	font-size: 1.2rem;
	padding-bottom: 30px;
}

.contact-form-div {
	padding: 20px;
}

form {
	color: white;
	box-shadow: 0px 0px 4px 4px black;
	background-color: white;
	text-align: left;
	display: flex;
	flex-direction: column;
	padding: 40px;
	border-radius: 12px;
}

input[name="Name"],
input[name="Email"],
textarea,
button {
	padding: 13px 0px 13px 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	border: none;
	border-bottom: 2px solid black;
}

button {
	margin-top: 20px;
	background-color: white;
	border: 1px black solid;
	cursor: pointer;
}

.last-section {
	background-color: rgba(0, 0, 0, 0.8);
	padding: 20px 20px 20px 7px;
}

.last-section footer {
	color: white;
}

.last-section i {
	font-size: 1.5rem;
	padding: 5px 5px;
	cursor: pointer;
}

.last-section a {
	color: white;
	text-decoration: none;
	cursor: pointer;
}

.last-section p {
	padding-top: 5px;
}

.hidden {
	display: none;
	opacity: 0;
	z-index: 0;
}

.modal {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(10, 1fr);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(5px);
	z-index: 200;
	display: none;
	transition: all 1s ease;
}

.close {
	font-size: 4rem;
	font-weight: 600;
	color: white;
	grid-column: 10;
	justify-self: end;
	cursor: pointer;
}

.modal .mobile_links {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.mobile_links li {
	margin-bottom: 30px;
	cursor: pointer;
	font-size: 3rem;
	font-weight: 300;
	color: white;
	list-style: none;
}

.mobile_links li:hover {
	border-bottom: 2px solid white;
}

@media screen and (max-width: 620px) {
	.nav-links {
		display: none;
	}
}

@media screen and (min-width: 621px) {
	.hamburger-icon {
		display: none;
	}
}
